body {
	background-color: #E6E6E6;
}

canvas {
	background-color: #D9FFE2;
	border: 1px solid #000;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}